<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NerdChat</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>
    

        <header>
            <h1>NerdChat &#128187;</h1>
            <p>A place for nerds to share thoughts and opinions!</p>
            <nav>
                {{#if loggedIn}}
                <a href="/">Home</a>
                <a href="/dashboard">DashBoard</a>
                <a href="/dashboard/create">Create A Post </a>
                <button id = "logout" type="button">Logout</button>
                {{else}}
                <a href="/">Home</a>
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Thanks for visiting ! Come Back Soon !
    </footer>

</body>

</html>