body {
    background-color: #556270;
    color:#4ecdc4;  
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #4ecdc4;
    color: #556270;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 3px solid #c7f464;
}
header h1 {
    
    font-size:35px;
}
nav {
    display:flex;
    flex-direction:row;
    color:#ff6b6b;
}
nav a {
    color:#556270;
    font-size:30px;
    margin-right: 10px;

}
nav a:hover {
    color:#ff6b6b;
}
footer {
    background-color: #4ecdc4;
    color:#556270;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    flex-direction:row;
    justify-content: center;

}